[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/
build/
dist/
artifacts/

*.suo
*.user
*.userprefs
*.vspscc
*.vssscc
*.waf
*.webtest
*.xsc
*.xss
*.xuo
*.designer.cs.dll
*.Designer.vb.dll

.vs/
*.vshost.*
*.testsettings
*.trx
*.rdc
*.rptproj

packages/
*.nuget/
*.nupkg
*.lock.json
